<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Books</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div>
        <h2>Welcome To Flight Bookings</h2>
    </div>
    <div class="img1">
        <img src="/images/flight1.jpeg" width=300px height=300px  alt="">
    </div>
    <div class="img2">
        <img src="/images/flight2.jpeg" width=300px height=300px>
    </div>
    <div class="content">
            <a href="/login"> <button class="login">Login</button></a>
            <a href="/signup"> <button class="login">Signup</button></a>


    </div>
</body>
</html>