body {
  background-color: #f5f5f5;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bigc {
  margin-top: 10vh;
  margin-left: 5vw;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 45vh;
  gap: 3rem;
  border-radius: 1rem;
  opacity: 0.7;
}

.login {
  width: 8rem;
  height: 3rem;
  border-radius: 20rem;
  cursor: pointer;
}
.Signup {
  width: 8rem;
  height: 3rem;
  border-radius: 20rem;
  cursor: pointer;
}
h1 {
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.logout {
  float: right;
  margin-top: -3%;
  margin-right: 2%;
  width: 8%;
  height: 30px;
  cursor: pointer;
  background-color: antiquewhite;
}

.input- {
  border: none;
  width: 250px;
  height: 30px;
  border-radius: 5px;
  padding-left: 10px;
}

.btn-1 {
  padding: 10px 7px;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  width: 5rem;
  cursor: pointer;
}

.box-1 {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(135, 150, 241);
  width: 100vw;
  margin-top: -18rem;
  align-items: center;
}
.button-1 {
  background-color: black;
  color: white;
  margin-top: 25px;
  margin-bottom: 15px;
  border-radius: 10px;
  margin-right: 10px;
}
a {
  text-decoration: none;
  color: white;
}
.container-1 {
  margin-left: 50px;
  margin-top: 30px;
}

.input-3 {
  width: 15rem;
  height: 3rem;
  border-radius: 1rem;
}

.input-4 {
  width: 15rem;
  background-color: aqua;
  font-size: 1.4rem;
  font-weight: 600;
  height: 3rem;
  cursor: pointer;
  border-radius: 1rem;
}
.image-1 {
  width: 20px;
  height: 20px;
}
.logincon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(230, 230, 12);
  border-radius: 0rem;
  width: 30vw;
  height: 55vh;
}
.link {
  color: crimson;
}
.ho1 {
  margin-top: 1rem;
}
.form-group input {
  width: 18rem;
  height: 3rem;
  border-radius: 2rem;
  padding-left: 2rem;
}
.form-group2 input {
  width: 18rem;
  height: 3rem;
  border-radius: 2rem;
  padding-left: 2rem;
}
.form-group2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.bt1 {
  width: 8rem;
  height: 3rem;
  color: bisque;
  background-color: brown;
  border-radius: 1rem;
  cursor: pointer;
}
.flightf {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
.flightbox {
  width: 18rem;
  height: 3rem;
  border-radius: 1rem;
  padding-left: 1rem;
}
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dabba {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
table,
th,
tr,
td {
  border-collapse: collapse;
  border: 1px solid;
}

.homepage {
  background-image: url("../images/wp4128800.webp");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f5f5f5;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

.loading {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  color: white;
  justify-content: center;
  align-items: center;
}

.success {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 128, 0, 0.5);
  z-index: 9999;
  color: white;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}
.para {
  margin-top: 4%;
}
